<configuration>

    <property name="logger.file" value="./logs/carId.log"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logger.file}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 50MB -->
            <maxFileSize>50MB</maxFileSize>
            <!-- total size of all archive files, if total size > 2GB, it will delete old archived file -->
            <totalSizeCap>2GB</totalSizeCap>
            <!-- 30 days to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.car" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="ru.car" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"/>
    <logger name="org.hibernate.type" level="DEBUG" additivity="false"/>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>
